* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    color: #e2e8f0;
    text-decoration: none;
}

input {
    width: 100%;
    border: none;
    border-radius: 50px;
    background-color: #e2e8f0;
    padding: 10px;
}

#big-grid-container {
    height: 100vh;
}

#left-nav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    background-color: #0ea5e9;
    color: #e2e8f0;
    padding: 20px;
}

#left-nav > ul {
    padding-top: 40px;
}

#left-nav > ul > li {
    font-size: 1.3rem;
    padding: 5px;
}

.left-nav-tabs {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.2fr 0.8fr;
    align-items: center;
}

#dashboard-title {
    font-size: 1.6rem;
}


#main {
    margin-left: 20%;
    background-color: #e2e8f0;
}

#main > header{
    padding: 30px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 20px;
    background-color: white;
    box-shadow: 0px 5px 5px #cbd5e1;
}

#main > header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#user-pic1 {
    width: 70px;
    height: auto;
}

#user-pic2 {
    width: 100px;
    height: auto;
}

#user-name {
    font-weight: 900;
}

#buttons > button{
    font-size: 1.1rem;
    padding: 10px 30px;
    background-color: #0ea5e9;
    border: none;
    border-radius: 20px;
    color: white;
}

#buttons > button:hover{
    cursor: pointer;
}

#main-content {
    margin: 20px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    gap: 20px;
}

#projects  {
    margin: 20px 0;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    gap: 20px;
}

#projects > div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 2px 5px 5px #cbd5e1;
}

#projects > div > p{
    color: #94a3b8;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
}

#main-content > aside {
    margin-right: 20px;
    display: grid;
    grid-template-rows: auto auto;
}

.card {
    margin: 20px 0;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    display: grid;
    box-shadow: 2px 5px 5px #cbd5e1;
}

.card > div > p {
    color: #94a3b8;
}

#announcements {
    gap: 20px;
}

#trending {
    gap: 15px;
}

.trending-pics {
    width: 50px;
    height: auto;
}

.trending-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trend-comment {
    color: #94a3b8;
}